@{
    ViewData["Title"] = "Home Page";
}

@model HomeVM

@section css {
    <link rel="stylesheet" href="~/assets/package/swiper.css" />
    <link rel="stylesheet" href="~/assets/package/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/package/swiper-bundle.css" />
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/assets/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/assets/css/pages/style.css" />
}



<!-- Main Starts -->
<main>
    <!-- Section Slider Starts -->
    <section id="slider">
        <div class="swiper slider-swiper">
            <div class="swiper-wrapper">

                @foreach (var item in Model.Sliders)
                {
                    <div class="swiper-slide">
                        <img src="./assets/images/@item.Image" alt="" />
                        <div class="content">
                            <h4>@item.Header</h4>
                            <h2>
                                @Html.Raw(item.Title)
                            </h2>
                            <p>@item.Description</p>
                            <a href="">
                                @item.Shop <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                }
              
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev d-none"></div>
            <div class="swiper-button-next d-none"></div>
        </div>
    </section>
    <!-- Section Slider Ends -->
    <!-- Section FeatuerdProducts Starts  -->
    <section id="featured-products">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <h3>Featured Products</h3>
                </div>

                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="entry-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                            maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section FeaturedProducts Ends -->
    <!-- Section Products Starts -->
    <section id="products">
        <div class="container">
            <div class="all-products">
                    @foreach (var item in Model.Products)
                {
                    <div class="product" data-id="@item.Id">
                        <div class="product-images">
                            <div class="swinger-container">
                                @foreach (var img in item.Images.Where(m=>m.IsMain).Take(4))
                                {
                                    <a href="./productdetail.html">
                                        <img src="./assets/images/@img.Image" alt="" />
                                    </a>
                                }
                            @*     <a href="./productdetail.html">
                                    <img src="./assets/images/dress1.jpeg" alt="" />
                                </a>
                                <a href="./productdetail.html">
                                    <img src="./assets/images/dress2.jpeg" alt="" />
                                </a>
                                <a href="./productdetail.html">
                                    <img src="./assets/images/dress3.jpeg" alt="" />
                                </a>

                                <a href="./productdetail.html">
                                    <img src="./assets/images/dress4.jpeg" alt="" />
                                </a> *@
                            </div>
                        </div>

                        <div class="product-detail">
                            <i class="fa-solid fa-star"></i>
                            <span>@item.ReviewCount review</span>
                            <h3>
                                <a href="./productdetail.html">@item.Name</a>
                            </h3>
                            <span>$</span> <span>@item.Price</span>
                        </div>

                        <div class="product-icons" data-id="@item.Id">
                            <i class="fa-regular fa-heart"></i>
                            <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                            <a href="">
                                <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                            </a>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>

                }
             @*    <div class="product" data-id="9">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/nylon1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/nylon2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/nylon3.jpeg" alt="" />
                            </a>

                            <a href="./productdetail.html">
                                <img src="./assets/images/nylon4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>2 review</span>
                        <h3>
                            <a href="./productdetail.html">Short Naylon-Effect Puffer Jacket</a>
                        </h3>
                        <span>$</span> <span>29.90</span>
                    </div>

                    <div class="product-icons" data-id="9">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="10">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/pocketmen1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/pocketmen2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/pocketmen3.jpeg" alt="" />
                            </a>

                            <a href="./productdetail.html">
                                <img src="./assets/images/pocketmen4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Pouch Pocket Hoodie Orange</a>
                        </h3>
                        <span>$</span> <span>29.50</span>
                    </div>

                    <div class="product-icons" data-id="10">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>

                <div class="product" data-id="18">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/sleeve1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/sleeve2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/sleeve3.jpeg" alt="" />
                            </a>

                            <a href="./productdetail.html">
                                <img src="./assets/images/sleeve4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Long Sleeve Graphic T-shirt</a>
                        </h3>
                        <span>$</span> <span>19.90</span>
                    </div>

                    <div class="product-icons" data-id="18">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>

                <div class="product" data-id="19">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/starter1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/starter2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/starter3.jpeg" alt="" />
                            </a>

                            <a href="./productdetail.html">
                                <img src="./assets/images/starter4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Blue Starter Logo T-shirt</a>
                        </h3>
                        <span>$</span> <span>18.70</span>
                    </div>

                    <div class="product-icons" data-id="19">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>

                <div class="product" data-id="20">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/zipped1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/zipped2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/zipped3.jpeg" alt="" />
                            </a>

                            <a href="./productdetail.html">
                                <img src="./assets/images/zipped4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Lightweight Zipped Bomber Jacket</a>
                        </h3>
                        <span>$</span> <span>27.99</span>
                    </div>

                    <div class="product-icons" data-id="20">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div> *@
            </div>
            <!-- <div class="paginator-center text-color text-center">
              <ul>
                <li class="prev">
                  <i class="fa-solid fa-chevron-left"></i>
                </li>
                <li class="next">
                  <i class="fa-solid fa-chevron-right"></i>
                </li>
              </ul>
            </div> -->
            <hr />
        </div>
    </section>
    <!-- Sections Products Ends -->
    <!-- New Collections Section Starts -->
    <section id="new-collections">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="collections-left">
                        <img src="./assets/images/image-01.jpeg" alt="" />
                        <p>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida.
                        </p>
                        <h4>Petra van der Meer</h4>
                    </div>
                </div>
                <div class="gap-div"></div>

                <div class="col-sm-12 col-md-12 col-lg-5">
                    <div class="collections-right">
                        <h4>NEW COLLECTIONS</h4>
                        <h2>
                            Best Sweatshirts and <br />
                            tracksuits for everyone!
                        </h2>
                        <p>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <div>
                            <a href="">
                                Shop Now <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                        <img src="./assets/images/image-02.jpeg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- New Collections Section Ends -->
    <!-- Chanel Section Starts -->
    <section id="chanel">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img src="./assets/images/testimonial-logo.png" alt="" />
                    <p>
                        Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                        ipsum <br />
                        suspendisse ultrices gravida. Risus commodobendo viverra
                        maecenas
                        <br />
                        accumsan lacus vel facilisis libero.
                    </p>
                    <img src="./assets/images/signature.png" alt="" />
                    <h4>CHANEL CEO</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Chanel Section Ends -->
    <!-- Brands Section Starts -->
    <section id="brands">
        <div class="container">
            <div class="all-brands">
                <img src="./assets/images/logo-8.png" alt="" />
                <img src="./assets/images/logo-1.png" alt="" />
                <img src="./assets/images/logo-2.png" alt="" />
                <img src="./assets/images/logo-3.png" alt="" />
                <img src="./assets/images/logo-4.png" alt="" />
                <img src="./assets/images/logo-5.png" alt="" />
            </div>

            <hr />
        </div>
    </section>
    <!-- Brands Section Ends -->
    <!-- New Collections2 Starts -->
    <section id="new-collections-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="collections-left">
                        <img src="./assets/images/image-03.jpeg" alt="" />
                    </div>
                </div>
                <div class="gap-div"></div>

                <div class="col-sm-12 col-md-12 col-lg-5">
                    <div class="collections-right">
                        <h4>NEW COLLECTIONS</h4>
                        <h2>
                            Best Sweatshirts and <br />
                            tracksuits for everyone!
                        </h2>
                        <p>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <div>
                            <a href="">
                                Shop Now <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                        <hr />
                        <div class="ranking">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span>4.5 (10.000+) Rating</span>
                        </div>
                        <p>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida.
                        </p>
                        <h4>Petra van der Meer</h4>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </section>
    <!-- New Collections2 Ends -->
    <!-- Section FeatuerdProducts Starts  -->
    <section id="featured-products">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <h3>Featured Products</h3>
                </div>

                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="entry-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                            maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section FeaturedProducts Ends -->
    <!-- Section Products Starts -->
    <section id="products-2">
        <div class="container">
            <div class="all-products-2">
                <div class="product" data-id="1">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/pants1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/pants2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/pants3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/pants4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Basic Colored Sweatpants With Elastic Hems</a>
                        </h3>
                        <span>$</span> <span>19.90</span>
                    </div>
                    <div class="product-icons" data-id="1">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="2">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/basic1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/basic2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/basic4.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/basic5.jpeg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>2 review</span>
                        <h3>
                            <a href="./productdetail.html">Basic High-Neck Puff Jacket</a>
                        </h3>
                        <span>$</span> <span>89.00</span>
                    </div>
                    <div class="product-icons" data-id="2">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="3">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/leggings1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/leggings2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/leggings3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/leggings4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Basic Relax Fit Leggings</a>
                        </h3>
                        <span>$</span> <span>24.90</span>
                    </div>
                    <div class="product-icons" data-id="3">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="4">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/overshirt1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/overshirt2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/overshirt3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/overshirt4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Check Overshirt With Pocket Detail</a>
                        </h3>
                        <span>$</span> <span>112.00</span>
                    </div>
                    <div class="product-icons" data-id="4">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="5">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/printedh1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/printedh2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/printedh3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/printedh4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Rose Printed Hoodie</a>
                        </h3>
                        <span>$</span> <span>110.99</span>
                    </div>
                    <div class="product-icons" data-id="5">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="6">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/cup1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/cup2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/cup3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/cup4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">World Wide Cup Print T-Shirt</a>
                        </h3>
                        <span>$</span> <span>23.99</span>
                    </div>
                    <div class="product-icons" data-id="6">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="7">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/dressblack1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/dressblack2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/dressblack3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/dressblack4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Sleeveless Ribbed Short Dress Black</a>
                        </h3>
                        <span>$</span> <span>14.99</span>
                    </div>
                    <div class="product-icons" data-id="7">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
                <div class="product" data-id="8">
                    <div class="product-images">
                        <div class="swinger-container">
                            <a href="./productdetail.html">
                                <img src="./assets/images/slogan1.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/slogan2.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/slogan3.jpeg" alt="" />
                            </a>
                            <a href="./productdetail.html">
                                <img src="./assets/images/slogan4.jpeg" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="product-detail">
                        <i class="fa-solid fa-star"></i>
                        <span>1 review</span>
                        <h3>
                            <a href="./productdetail.html">Slogan Hoodie With Label Detail</a>
                        </h3>
                        <span>$</span> <span>11.99</span>
                    </div>
                    <div class="product-icons" data-id="8">
                        <i class="fa-regular fa-heart"></i>
                        <a href="" class="open-modal"><i class="fa-solid fa-up-down-left-right"></i> </a>
                        <a href="">
                            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        </a>
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
            </div>
            <!-- <div class="paginator-center text-color text-center">
              <ul>
                <li class="prev-2">
                  <i class="fa-solid fa-chevron-left"></i>
                </li>
                <li class="next-2">
                  <i class="fa-solid fa-chevron-right"></i>
                </li>
              </ul>
            </div> -->
        </div>
    </section>
    <!-- Sections Products Ends -->
    <!-- New Collections3 Starts -->
    <section id="new-collections-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="collection-all">
                        <img src="./assets/images/banner-box2.jpeg" alt="" />
                        <div class="content">
                            <h4>New Collection</h4>
                            <h2>
                                Best Sweatshirts and <br />
                                tracksuit for everyone!
                            </h2>
                            <p>
                                Sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Quis ipsum <br />
                                suspendisse ultrices gravida. Risus commodo viverra maecenas
                                accumsan lacus <br />
                                vel facilisis.
                            </p>
                            <div>
                                <a href="">
                                    Shop Now <i class="fa-solid fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- New Collections3 Ends -->
    <!-- Latest News Section Starts -->
    <section id="latest-news-text">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text-part">
                        <h3>Our Latest News</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna <br />
                            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra vel facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest News Section Ends -->
    <!-- News All Cards Section Starts -->
    <section id="news-all-cards">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="news-card">
                        <div class="news-image">
                            <a href="">
                                <img src="./assets/images/blog-4.jpeg" alt="" />
                            </a>
                        </div>
                        <div class="news-content">
                            <div class="date">
                                <a href="">Collections</a>
                                <a href="">25 Apr 2022</a>
                            </div>
                            <h2><a href="">The Best Products That Shape Fashion</a></h2>
                            <p>
                                Donec rhoncus quis diam sit amet faucibus. Vivamus
                                pellentesque, sem sed convallis ultricies, ante eros
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="news-card">
                        <div class="news-image">
                            <a href="">
                                <img src="./assets/images/blog-5.jpeg" alt="" />
                            </a>
                        </div>
                        <div class="news-content">
                            <div class="date">
                                <a href="">Fashion</a>
                                <a href="">25 Apr 2022</a>
                            </div>
                            <h2><a href="">New Finds From Tuckernuck</a></h2>
                            <p>
                                Donec rhoncus quis diam sit amet faucibus. Vivamus
                                pellentesque, sem sed convallis ultricies, ante eros
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="news-card">
                        <div class="news-image">
                            <a href="">
                                <img src="./assets/images/blog-6.jpeg" alt="" />
                            </a>
                        </div>
                        <div class="news-content">
                            <div class="date">
                                <a href="">Clothing</a>
                                <a href="">25 Apr 2022</a>
                            </div>
                            <h2><a href="">Sunset Sets From Saks</a></h2>
                            <p>
                                Donec rhoncus quis diam sit amet faucibus. Vivamus
                                pellentesque, sem sed convallis ultricies, ante eros
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News All Cards Section Ends-->
    <!-- Product Detail Modal Section Starts -->
    <section id="product-detail-modal">
        <div class="container">
            <div class="detail-modal d-none">
                <div class="close-modal">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="modal-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="product-image">
                            </div>

                            <div class="slider-nav-thumbnails">
                            </div>



                            <div class="paginator-center text-color text-center">
                                <ul>
                                    <li class="prev">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </li>
                                    <li class="next">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="product-content">
                                <h1 class="product-name"></h1>
                                <div class="review">
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>2 reviews</span>
                                </div>
                                <span>$</span> <span class="price"></span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                                <span class="color">Color: Black</span>
                                <div class="all-colors">
                                    <span style="background-color: #9f1435"></span>
                                    <span style="background-color: #003080"></span>
                                    <span style="background-color: #e1955b"></span>
                                    <span style="background-color: #6e94bb"></span>
                                    <span style="background-color: #016243"></span>
                                    <span style="background-color: #e2939a"></span>
                                    <span style="background-color: #000000"></span>
                                    <span style="background-color: #e4e4e6"></span>
                                </div>

                                <span class="size">Size: M</span>
                                <div class="all-sizes">
                                    <span>XXS</span>
                                    <span>XS</span>
                                    <span>S</span>
                                    <span>M</span>
                                    <span>L</span>
                                    <span>XL</span>
                                    <span>XXL</span>
                                </div>

                                <div class="add-to-cart">
                                    <div class="quantity">
                                        <span class="minus">--</span>
                                        <span class="num">1</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <button type="submit">Add to cart</button>
                                </div>

                                <div class="product-extra-buttons">
                                    <a href="">
                                        <i class="fa-solid fa-globe"></i>
                                        Size Guide
                                    </a>
                                    <div class="add-to-wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                        <span>Add to Wishlist</span>
                                    </div>
                                    <a href="">
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                        Share this Product
                                    </a>
                                </div>

                                <div class="product-meta">
                                    <p>SKU: <span>BE45VGRT</span></p>
                                    <p>Categories: <span>Pants, Women</span></p>
                                    <p>Tags: <span>black, white</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-overlay d-none"></div>
        </div>
    </section>
    <!-- Product Detail Modal Section Ends -->


</main>
<!-- Main Ends -->
<!-- Mobile Menu Section Starts -->
<section id="mobile-menu" class="d-none">
    <ul>
        <li>
            <a href="./shop.html">
                <i class="fa-solid fa-store"></i>
                <span>Store</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-magnifying-glass open-search"></i>
                <i class="fa-solid fa-x d-none close-search "></i>
                <span>Search</span>
            </a>
        </li>
        <li>
            <a href="./wishlist.html">
                <i class="fa-regular fa-heart"></i>
                <span>Wislist</span>
            </a>
        </li>
        <li>
            <a href="./loginregister.html">
                <i class="fa-regular fa-user"></i>
                <span>Account</span>
            </a>
        </li>
        <li class="open-sidebar">
            <a href="">
                <i class="fa-solid fa-bars"></i>
                <span>Categories</span>
            </a>
        </li>
    </ul>
</section>
<!-- Mobile Menu Section Ends -->


@section script {
    <script src="./assets/swinger.js"></script>

    <script src="./assets/package/swiper.js"></script>
    <script src="./assets/package/swiper-bundle.min.js"></script>
    <script src="./assets/package/swiper-bundle.js"></script>
    <script src="./assets/slick-1.8.1/slick/slick.min.js"></script>
    <script src="./assets/slick-1.8.1/slick/slick.js"></script>
    <script src="./assets/js/script.js"></script>
}

